<div>
    <br>
    <mat-card>
        <button mat-raised-button color="primary" routerLink = "/create">Create New Issue</button>
        <br><br>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="hospitals">
           <ng-container matColumnDef = "hospital_name">
                <th mat-header-cell *matHeaderCellDef>hospital_name</th>
                <td mat-cell *matCellDef = "let element">{{element.hospital_name}}</td>
            </ng-container>
            <ng-container matColumnDef = "hospital_id">
                <th mat-header-cell *matHeaderCellDef>hospital_id</th>
                <td mat-cell *matCellDef = "let element">{{element.hospital_id}}</td>
            </ng-container>
            <ng-container matColumnDef = "hospital_url">
                <th mat-header-cell *matHeaderCellDef>hospital_url</th>
                <td mat-cell *matCellDef = "let element">{{element.hospital_url}}</td>
            </ng-container>
            <ng-container matColumnDef = "actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef = "let element">
                    <button mat-button color= "primary" (click)="editIssue(element._id)">Edit</button>
                    <!--<button mat-button color= "primary" (click)="deleteIssue(element._id)">Delete</button>"-->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card>
</div>
