<div>
    <br>
    <mat-card>
        <section class ="mat-typography">
            <h3>Update Issue</h3>
        </section>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="updateForm" class="edit-form">
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Title" formControlName="title" #title>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Resonsible" formControlName="responsible" #responsible>
            </mat-form-field>
            
            <mat-divider></mat-divider>
            <br><br>
            <button mat-raised-button color="accent" routerLink="/list">Back</button>
            <button type="submit" (click) = "updateIssue(title.value,responsible.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color ="primary">Update</button>
        </form>
    </mat-card>   
</div>
